{{- define "body" -}}
{{if .BalanceErrors -}}
<p>Balance errors!</p>
<table>
  <thead>
    <tr>
      <th>Ref</th>
      <th>Date</th>
      <th>Account</th>
      <th>Declared</th>
      <th>Actual</th>
      <th>Diff</th>
    </tr>
  </thead>
  <tbody>
    {{- range .BalanceErrors}}
    <tr>
      <td>{{.Position}}</td>
      <td>{{.Date}}</td>
      <td><a href="/ledger?account={{.Account}}">{{.Account}}</a>{{if .Tree}} (tree){{end}}</td>
      <td class="amount">{{.Declared.String}}</td>
      <td class="amount">{{.Actual.String}}</td>
      <td class="amount">{{.Diff.String}}</td>
      <tr>
    {{- end}}
  </tbody>
</table>
{{else -}}
<p>All OK</p>
{{end -}}
{{- end}}
