{{- define "body" -}}
<h1>{{.Title}}</h1>
<table>
  <thead>
    <tr>
      <td colspan="2">
        <form method="GET">
          As of
          <input type="month" name="month" value="{{.Month}}">
          <input type="submit">
        </form>
      </td>
    </tr>
  </thead>
  <tbody>
    {{- range .Rows}}
    {{- if .Section}}
    <tr class="section">
      <td colspan="2"><strong>{{.Description}}</strong></td>
    <tr>
    {{else if and (not .Description) (not .Amount) }}
    <tr>
      <td colspan="2">&nbsp;</td>
    <tr>
    {{else}}
    <tr{{if .Description}} class="section"{{end}}>
      <td>
        {{- if .Account -}}
        <a href="/ledger?account={{.Description}}">{{.Description}}</a>
        {{- else -}}
        {{.Description}}
        {{- end -}}
      </td>
      <td class="amount">{{if .Amount}}{{.Amount}}{{end}}</td>
    <tr>
    {{end}}
    {{- end}}
  </tbody>
</table>
{{- end}}
