{{- define "body" -}}
<h1>Trial Balance</h1>
<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Debit Bal</th>
      <th>Credit Bal</th>
    </tr>
  </thead>
  <tbody>
    {{- range .Rows}}
    <tr{{if .Account}} class="section"{{end}}>
      <td>
        {{- if eq .Account "Total" -}}
        Total
        {{- else if .Account -}}
        <a href="/ledger?account={{.Account}}">{{.Account}}</a>
        {{- end -}}
      </td>
      <td class="amount">{{if .DebitBal}}{{.DebitBal}}{{end}}</td>
      <td class="amount">{{if .CreditBal}}{{.CreditBal}}{{end}}</td>
      <tr>
    {{- end}}
  </tbody>
</table>
{{- end}}
