{{define "head" -}}
<style>
  table.balance-errors th {
      padding-left: 5px;
      padding-right: 5px;
      text-align: left;
  }
  table.balance-errors td {
      padding-left: 5px;
      padding-right: 5px;
  }
</style>
{{end}}
{{- define "body" -}}
{{if .BalanceErrors -}}
<p>Balance errors!</p>
<table class="balance-errors">
  <colgroup>
    <col>
    <col>
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th>Account</th>
      <th>Declared</th>
      <th>Actual</th>
      <th>Diff</th>
    </tr>
  </thead>
  <tbody>
    {{- range .BalanceErrors}}
    <tr>
      <td>{{.Position}}</td>
      <td>{{.Date}}</td>
      <td><a href="/reconcile?account={{.Account}}">{{.Account}}</a></td>
      <td>{{.Declared}}</td>
      <td>{{.Actual}}</td>
      <td>{{.Diff}}</td>
      <tr>
    {{- end}}
  </tbody>
</table>
{{else -}}
<ul>
  <li><a href="/trial">Trial Balance</a></li>
  <li><a href="/income">Income</a></li>
  <li><a href="/capital">Capital</a></li>
  <li><a href="/balance">Balance Sheet</a></li>
  <li><a href="/cash">Cash Flow</a></li>
</ul>
{{end -}}
{{- end}}
