{{define "head" -}}
<style>
</style>
{{end}}

{{- define "body" -}}
<h1>Ledger for {{.Account}}</h1>
{{if not .Account -}}
<p>Missing account query!</p>
{{else -}}
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Ref</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    {{- range .Entries}}
    <tr>
      <td>{{.Date}}</td>
      <td>{{.Description}}</td>
      <td>{{.Position}}</td>
      {{- if eq .Amount.Number 0}}
      <td></td>
      <td></td>
      {{else if gt .Amount.Number 0}}
      <td>{{.Amount}}</td>
      <td></td>
      {{else}}
      <td></td>
      <td>{{.Amount}}</td>
      {{- end}}
      <td>{{.Balance}}</td>
      <tr>
    {{- end}}
  </tbody>
</table>
{{end}}
{{- end}}
